{# templates/security/Login.html.twig #} {% extends ('base.html.twig') %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    {% endblock %}

    {% block body %}



        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post">
                <fieldset>
                    <!--Right Side-->
                    <section id="login">
                        <h1>Login</h1>
                        <p>Don't have an account ? <a href="{{ path('app_registration') }}">Register Here</a> </p>

                        <label>Email or Username</label><br><br>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" autofocus>
                        <br><br>

                        <label>Password</label><br><br>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password">
                        <br><br>

                        <span><a href="#">Forgot password</a></span>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <br>
                        <input type="submit" value="Login" id="button">
                    </section>
                </div>


                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

            </fieldset>
        </form>

    {% endblock %}
